@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial',
    sans-serif;
  background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
}

html {
  scroll-behavior: smooth;
}
