# Web App
NEXTAUTH_SECRET=your-secret-key-change-in-production
NEXTAUTH_URL=http://web.localhost:3000
NEXT_PUBLIC_API_URL=http://api.localhost:3002

# Mobile App
NEXT_PUBLIC_API_URL=http://api.localhost:3002

# Server
REDIS_URL=redis://localhost:6379
PORT=3002
